:root{
    var
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  background: rgb(132, 211, 132);
}

tbody tr td:first-child {
  width: 200px;
}

tbody tr td:nth-child(2) {
  width: 300px;
}

tbody tr:first-child input {
  width: 250px;
}

tbody tr:nth-child(2) input {
  width: 200px;
}

tbody tr:nth-child(3) input {
  width: 150px;
}

tbody tr fieldset {
  margin: 0 auto;
  border: 2px solid brown;
  width: 350px;
  height: 35px;
}

tbody tr fieldset #container{
    display: block;
    text-align: center;
}

tbody tr fieldset #adult {
  width: 50px;
}

tbody tr fieldset #child {
    width: 50px;
}

tbody tr legend {
  font-style: italic;
  color: rgb(131, 33, 33);
}

tbody tr:last-child input {
  width: 80px;
}

tbody tr textarea {
  width: 300px;
}

#btn {
  display: block;
  width: 60px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0 auto;
}

tfoot tr td {
    padding: unset;
  }
